@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Varela+Round&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: bisque;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

canvas{
  background-color: white;
  border-radius: 1.2rem;
  width: 680px;
  height: 350px;
  border: 5px groove black;
  margin-top: 1.5rem;
  box-shadow: 5px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

h4{
  font-family: 'Varela Round', sans-serif;
  font-size: 55px;
}

h6{
  font-size: 15px;
  font-weight: 400;
}

p{
  font-size: 25px;
  font-weight: 500;
}

span{
  font-size: 40px;
}

.title{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem
}

.error{
  color: #ff1f1f;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  border: 5px solid orangered;
  border-radius: 1rem;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
}

.win{
  color: #03dc3d;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  border: 5px solid #0bc513;
  border-radius: 1rem;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0;
}

.datos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.datos > *{
  font-size: 15px;
  color: black;
}

.btnReiniciar{
  font-size: 20px;
  border: 3px solid #1571ea;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  color: #1571ea;
}

.btnReiniciar:hover{
  background-color: #1571ea;
  border-color: transparent;
  color: white;
}

.hidden {
  display: none;
}